/*=====================================================================================*/
/*================================== LOGIN STYLE ==================================*/
/*=====================================================================================*/

/* style of the left pannel */
.brand-panel {
    -fx-background-color: #1f2937;
    -fx-padding: 40px;
}

.brand-title {
    -fx-fill: #FFFFFF;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
}
.brand-subtitle {
    -fx-fill: #FFA800;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
}
.brand-tagline {
    -fx-text-fill: rgba(255,255,255,0.8);
    -fx-font-size: 14px;
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
    -fx-padding: 20 0 0 0;
}

/* the right side style */

/* login panel */

.login-panel {
    -fx-background-color: #f5f1e8;
    -fx-padding: 40px;
}

.login-container {
    -fx-alignment: top-center;
    -fx-spacing: 30px;
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
}

/* login header */

.login-header {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.login-title {
    -fx-text-fill: #333333;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
.login-subtitle {
    -fx-text-fill: #666666;
    -fx-font-size: 16px;
}

/* form container */

.form-container {
    -fx-alignment: center-left;
    -fx-spacing: 25px;
    -fx-pref-width: 350px;
    -fx-max-width: 350px;
}

.input-group {
    -fx-spacing: 8px;
}

.input-label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
}

/* text field style */

.text-field, .password-field {
    -fx-pref-height: 50px;
    -fx-pref-width: 100%;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 2px;
    -fx-padding: 0 15;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 5, 0, 0, 2);
}

.text-field:hover, .password-field:hover {
    -fx-border-color: #FFA800;
}
.text-field:focused, .password-field:focused {
    -fx-border-color: #FFA800;
    -fx-effect: dropshadow(gaussian, rgba(255,168,0,0.2), 10, 0, 0, 3);
}

.login-button {
    -fx-pref-height: 50px;
    -fx-pref-width: 100%;
    -fx-background-color: #ff781a;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255,168,0,0.4), 10, 0, 0, 4);
    -fx-cursor: hand;
    -fx-border-radius: 10px;
}

.login-button:hover {
    -fx-background-color: #ff6900;
    -fx-effect: dropshadow(gaussian, rgba(255,168,0,0.4), 15, 0, 0, 6);
    }

.login-button:pressed {
    -fx-background-color: #ff6900;
    -fx-effect: dropshadow(gaussian, rgba(255,168,0,0.2), 5, 0, 0, 2);
}

.error-text {
    -fx-text-fill: red;
    -fx-font-size: 15px;
    -fx-font-style: italic;
}
.error-message {
    -fx-alignment: center;
}

/*=====================================================================================*/
/*================================== SIDEBAR STYLE ==================================*/
/*=====================================================================================*/

/* Sidebar moduls Styling */

.sidebar-header {
    -fx-background-color:  #1f2937;
}

.sidebar-item {
    -fx-background-color: transparent;
}

.sidebar-item:hover {
    -fx-background-color: #f24e1e;
}

.sidebar-item-active {
    -fx-background-color: #ff6900;
}

/* logout button style */

.logout-button {
    -fx-background-color: #f73526;
}
.logout-button:hover {
    -fx-background-color: #f8493c;
}

.sidebar-collapsed {
    -fx-pref-width: 50px;
    -fx-min-width: 50px;
    -fx-max-width: 50px;
}

.sidebar-collapsed .label {
    visibility: hidden;
}

.sidebar-collapsed .scroll-pane .logout-button .sidebar-header{
    -fx-pref-width: 50px;
    -fx-min-width: 50px;
    -fx-max-width: 50px;
}

.sidebar-collapsed .anchor-pane .logout-button .sidebar-header{
    -fx-pref-width: 50px;
}

/*=====================================================================================*/
/*================================== DASHBOARD STYLE ==================================*/
/*=====================================================================================*/

.main-content {
    -fx-background-color: #f5f1e8;
}

.header {
    -fx-padding: 5px 0px 0px 20px;
}

.header-title {
    -fx-text-fill: #1e2939;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-font-family: 'Segoe UI';
}

.header-subtitle {
    -fx-text-fill: gray;
    -fx-font-size: 14px;
    -fx-font-style: italic;
}

.metric-card, .chart-cards {
     -fx-background-color: white;
     -fx-background-radius: 10px;
     -fx-padding: 20px;
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 5);
}


.metric-card:hover, .chart-cards:hover, .houses-card:hover, .mortality-card:hover, .egg-production-card:hover {
    -fx-scale-x: 1.001;
    -fx-scale-y: 1.001;
    -fx-effect: dropshadow(gaussian, rgba(200,200,200), 10, 0, 0, 0);
}

.label-cards{
    -fx-text-fill: #4a5565;
    -fx-font-size: 16px;
}

.label-cards-stats{
    -fx-text-fill: #1e2939;
    -fx-font-size: 26px;
    -fx-font-weight: 500;
    -fx-font-family: 'Calibri';
}

.chickens-card {
    -fx-background-color: linear-gradient(to right, white, rgba(225, 246, 255));
}

.alerts-card {
    -fx-background-color: linear-gradient(to right, white, rgba(255, 215, 215));
}

.eggs-card {
    -fx-background-color: linear-gradient(to right, white, rgba(255, 235, 212));
}

.chart-title {
    -fx-text-fill: #1e2939;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

/* barchart-styles.css */
.chart-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 3 3 0 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.chart-plot-background {
    -fx-background-color: transparent;
}
/*=====================================================================================*/
/*================================== CHICKEN BAY STYLE ==================================*/
/*=====================================================================================*/

.houses-card, .mortality-card {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.house-name, .house-info-stats, .mortality-card-title {
    -fx-text-fill: #1e2939;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

.house-info, .mortality-card-info {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
    -fx-font-family: 'Lucida Console';
}

.mortality-card {
    -fx-background-color: white;
}

.this-day-deaths {
    -fx-text-fill: #dc2626;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

.this-week-deaths {
    -fx-text-fill: #ea580c;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

.this-month-deaths {
    -fx-text-fill: #ca8a04;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------- Health Status style !!!! ---------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

.health-good {
    -fx-background-radius: 5px;
    -fx-background-color: #27ae60;
    -fx-padding: 4px 6px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.health-poor {
    -fx-background-radius: 5px;
    -fx-background-color: #e74c3c;
    -fx-padding: 4px 6px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.health-fair {
    -fx-background-radius: 5px;
    -fx-background-color: #f39c12;
    -fx-padding: 4px 6px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/*=====================================================================================*/
/*================================== EGGS BAY STYLE ==================================*/
/*=====================================================================================*/

.egg-production-card {
     -fx-background-color: white;
     -fx-background-radius: 10px;
     -fx-padding: 20px;
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.date-label {
    -fx-text-fill: #1e2939;
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-font-family: 'Calibri';
}

.house-info-stats-production {
    -fx-text-fill: #27ae60;
}

.house-info-stats-deaths {
    -fx-text-fill: #e74c3c;
}

.storage-card {
     -fx-background-color: linear-gradient(to right, #f8d423, #fca140);
     -fx-background-radius: 10px;
     -fx-padding: 20px;
     -fx-effect: dropshadow(gaussian, rgb(254, 217, 179), 10, 0, 0, 5);
}

.storage-card:hover {
    -fx-scale-x: 1.001;
    -fx-scale-y: 1.001;
    -fx-effect: dropshadow(gaussian, rgb(254, 217, 179), 10, 0, 0, 0);
}

.storage-title {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

.storage-summary {
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-font-family: 'Lucida Console';
}

/*=====================================================================================*/
/*================================== STORAGE STYLE ==================================*/
/*=====================================================================================*/

.storage-section {
    -fx-background-color: white;
     -fx-background-radius: 10px;
     -fx-padding: 20px;
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.storage-section:hover {
    -fx-scale-x: 1.001;
    -fx-scale-y: 1.001;
    -fx-effect: dropshadow(gaussian, rgba(200,200,200), 10, 0, 0, 0);
}

.storage-section-title{
    -fx-text-fill: #1e2939;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------- List view style ----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

.feed-list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.feed-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10px 10px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
    -fx-text-fill: #1e2939;
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS";
}

.feed-list-view .list-cell:hover {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #bdbdbd;
}

.feed-list-view .list-cell:selected {
    -fx-background-color: #e8f5e9;
    -fx-text-fill: #1b5e20;
}


/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

.feed-list-summary{
    -fx-font-size: 14px;
    -fx-text-fill: #1e2939;
    -fx-font-weight: bold;
    -fx-font-family: "Calibri";
}

.feed-list-summary-value{
    -fx-text-fill: #1e2939;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

.storage-section-stats {
    -fx-text-fill: #1e2939;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}
.storage-medical-stats {
    -fx-text-fill: #2563eb;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}
.storage-medical-weak-stats {
    -fx-text-fill: #dc2626;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Table view style ----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #4a5565;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-padding: 10 0 10 13;
    -fx-alignment: CENTER_LEFT;
    -fx-font-family: "Arial";
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #e6e6e6 transparent;
    -fx-border-width: 0 0 1px 0;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #1e293b;
    -fx-padding: 10px 15px;
    -fx-font-family: "Comic Sans MS";
}

.table-row-cell:hover {
    -fx-background-color: #f5f5f5;
}

.table-cell:selected, .table-row-cell:selected {
    -fx-background-color: #e8f5e9;
    -fx-text-fill: #1b5e20;
}

.table-view .count-cell {
    -fx-font-weight: bold;
    -fx-text-fill: #0f172a;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------- Table Status style !!!! ----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/


.status-good {
    -fx-background-radius: 5px;
    -fx-background-color: #27ae60;
    -fx-padding: 4px 6px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.status-fair {
    -fx-background-radius: 5px;
    -fx-background-color: #f39c12;
    -fx-padding: 4px 6px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.status-poor {
    -fx-background-radius: 5px;
    -fx-background-color: #e74c3c;
    -fx-padding: 4px 6px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


/*=====================================================================================*/
/*================================== TASK STYLE =======================================*/
/*=====================================================================================*/


.task-cards {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.task-cards:hover, .personnel-card:hover {
    -fx-scale-x: 1.001;
    -fx-scale-y: 1.001;
    -fx-effect: dropshadow(gaussian, rgba(200,200,200), 10, 0, 0, 0);
}

.task-stats {
    -fx-text-fill: #1e88e5;
    -fx-font-size: 26px;
    -fx-font-weight: 500;
    -fx-font-family: 'Calibri';
}

.done-tasks {
    -fx-text-fill: #27ae60;
}
.missed-tasks {
    -fx-text-fill: #e74c3c;
}
.pending-tasks {
    -fx-text-fill: #f39c12;
}

.task-cards-description, .personnal-cards-description {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
    -fx-font-family: 'Lucida Console';
}

.task-list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.task-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10px 10px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
    -fx-text-fill: #1e2939;
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS";
}

.task-list-view .list-cell:hover {
    -fx-background-color: #e3f2fd;
    -fx-border-color: #bdbdbd;
}

.task-list-view .list-cell:selected {
    -fx-background-color: #e3f2fd;
}



/*---------------------------------------------------------------------------------*/
/*--------------!!!!!!! task status and task cell factory style !!!!!--------------*/
/*---------------------------------------------------------------------------------*/

.status-missed {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-padding: 2 8;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 11;
}

.status-pending {
    -fx-background-color: #f39c12;
    -fx-text-fill: white;
    -fx-padding: 2 8;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 11;
}

.status-done {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-padding: 2 8;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 11;
}

.task-description {
    -fx-text-fill: #1e2939;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

.task-assigned-to {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
    -fx-font-family: 'Lucida Console';
}

.task-due-date {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

/*-------------------^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-----------------*/
/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

/*=====================================================================================*/
/*================================= PERSONNEL STYLE ===================================*/
/*=====================================================================================*/


.total-workers {
    -fx-text-fill: #95a5a6;
    -fx-font-size: 26px;
    -fx-font-weight: 500;
    -fx-font-family: 'Calibri';
}

.total-trackers {
    -fx-text-fill: #3498db;
    -fx-font-size: 26px;
    -fx-font-weight: 500;
    -fx-font-family: 'Calibri';
}

.personnel-card {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 5);
    -fx-alignment: center;
    -fx-spacing: 10px
}

.personnel-grid {
    -fx-padding: 20;
    -fx-hgap: 20;
    -fx-vgap: 20;
}

.worker-name {
    -fx-text-fill: #1e2939;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: 'Calibri';
}

.job-tracker {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-padding: 2 8;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-font-size: 10;
}
.job-worker {
    -fx-background-color: #95a5a6;
    -fx-text-fill: white;
    -fx-padding: 2 8;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-font-size: 10;
}

.worker-info {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
    -fx-font-family: 'Lucida Console';
}