<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="identity-card.css" />
  <title>Identity Card</title>
</head>
<body>
  <div class="card">
    <div class="qr-area">
      <div class="qr"><img src="{{barcodeDataImg}}" alt="qr"/></div>
    </div>

    <div class="identity">
      <div class="name">{{name}}</div>
      <div class="role">{{role}}</div>
    </div>
  </div>
</body>
</html>